<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="row">
    <div class="flex-column deal-form-card deal-form-card__style">
      <h3 class="text-center">Регистрация</h3>
      <form [formGroup]="form">
        <div class="form-group">
          <app-deal-input
            inputId="username"
            inputType="text"
            [formObject]="form.get('username')">
            <ng-template #label>
              Имя
            </ng-template>
          </app-deal-input>
        </div>
        <div class="form-group">
          <app-deal-input
            inputId="email"
            inputType="text"
            [formObject]="form.get('email')">
            <ng-template #label>
              Эл. почта
            </ng-template>
          </app-deal-input>
        </div>
        <div class="form-group">
          <app-deal-input
            inputId="password"
            inputType="password"
            [formObject]="form.get('password')">
            <ng-template #label>
              Пароль
            </ng-template>
          </app-deal-input>
        </div>
        <div class="d-flex flex-column">
          <div class="form-group flex-grow-1">
            <span
              [routerLink]="['/login']"
              class="text-primary span-link">Есть аккаунт?</span>
          </div>
          <div class="form-group flex-grow-1">
            <app-deal-button
              [disableState]="isLoading || form.invalid"
              [classString]="'btn-primary'"
              (clickEvent)="submit()">
              Зарегистрировать
            </app-deal-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
