@import "variables";
@import "mixins";

/*Forms*/
.deal-form-card {
  padding: 3.5rem;
  &__style {
    background: $default-white-bg;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow $base-transition;
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.18);
    }
  }
}
