@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$default-text-color: rgba(0, 0, 0, 0.87);

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, p {
  color: $default-text-color
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 32px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
.muted-description-text p{
  font-size: 12px;
}
