$default-white-bg: rgba(255, 255, 255, 0.91);
$default-white-text: rgb(255, 255, 255);
$default-action-bg: rgba(0, 126, 229, 0.6);
$default-dark-bg: rgba(19, 20, 24, 0.91);
$default-black-text: rgba(19, 20, 24, 0.91);

$shadow-bg-20: rgba(19, 20, 24, 0.20);

$base-transition: 0.3s cubic-bezier(.25,.8,.25,1);

$header-height: 56px;
