@import "./../../../../../assets/scss/variables";

.deal-list {
  min-height: 250px;
  max-height: 259px;
  overflow-y: scroll;
  overflow-x: hidden;
  &__style {
    background: $shadow-bg-20;
    border-radius: .25rem;
  }
}
