<label *ngIf="label" [for]="inputId">

</label>
<div class="d-flex">
  <input
    #inputElement
    [id]="inputId"
    [type]="inputType"
    [formControl]="formObject"
    class="form-control deal-input deal-input__style {{ classString }}"/>
  <ng-container *ngTemplateOutlet="button"></ng-container>
</div>
<small
  class="deal-input-error-text text-danger"
  *ngIf="errorObj">
  {{ errorObj.translateKey }} {{ errorObj.value }}</small>
