<div [appShowFromRight]="hiddenElement"
     [minusMarginRight]="'-50px'"
     class="deal-item deal-item__style">
  <div class="d-flex justify-content-between deal-item__wrapper">
    <ng-content></ng-content>
    <div
      [hidden]="editMode"
      #hiddenElement
      class="deal-item__action-block action-block__style">
        <span
          class="mr-2"
          (click)="updateDeal()">
          <i class="fa fa-edit"></i>
        </span>
        <span
          (click)="deleteDeal()">
          <i class="fa fa-remove"></i>
        </span>
    </div>
  </div>
</div>
