@import "./../../../../../assets/scss/variables";

.deal-item {
  .action-block {
    &__style {
      cursor: pointer;
    }
  }
  &__style {
    background: white;
    padding: .375rem .75rem;
    transition: background-color $base-transition;
    border-bottom: 1px solid lighten($default-black-text, 70);
    &:hover {
      background: darken(white, 10);
    }
  }
}
