<header>
  <nav class="deal-nav deal-nav__style">
    <div class="deal-nav__row d-flex align-items-center justify-content-between">
      <div class="deal-nav__logo">
        <ng-content></ng-content>
      </div>
      <div class="d-flex justify-content-end deal-nav__user-block">
        <button class="btn">
          <span (click)="logout()" class="px-2 user-block__item">
            <i class="fa fa-power-off mr-2"></i>Выйти
          </span>
        </button>
      </div>
    </div>
  </nav>
</header>
