@import "./../../../../assets/scss/variables";

.deal-nav {
  width: 100%;
  position: fixed;
  height: $header-height;
  top: 0;
  &__row {
    height: 100%;
  }
  &__style {
    background: $default-white-bg;
  }
  &__user-block{
    padding-right: 1rem;
    &__item {
      font-weight: 700;
    }
  }
  &__logo {
    padding: 0 1rem;
  }
}
