<div class="row">
  <div class="mx-auto dashboard-deals-wrapper deal-form-card__style dashboard-deals-wrapper__style">
    <div class="d-flex justify-content-center flex-column">

      <app-deal-create
        class="mb-2"
        [deal]="selectedDeal"
        (update)="updateItem($event)"
        (add)="addItem($event)"
        (unselect)="unselectItem()"></app-deal-create>

      <app-deal-list>

        <app-deal-item
          *ngFor="let deal of deals$ | async; trackBy: trackById"
          [editMode]="editMode"
          (deleted)="deleteItem(deal)"
          (updated)="selectItem(deal)">
          {{ deal.content }}
        </app-deal-item>

      </app-deal-list>
    </div>
  </div>
</div>
