@import "./../../../assets/scss/variables.scss";

.dashboard-deals-wrapper {
  min-width: 320px;
  max-width: 450px;
  width: 50%;
  &__style {
    background: $default-action-bg;
    padding: 1.5rem;
  }
}
