.auth-layout {
  height: 100%;
  &__style {
    &:before {
      content: "";
      background: url("../../../assets/img/login-bg.jpg");
      background-size: cover;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0.1;
      filter: grayscale(50%);
    }
  }
}
