::ng-deep {
  .deal-input__style {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    &:active {
      box-shadow: none;
    }
  }
  .deal-button__style {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 35.8px;
    &.btn-left {
      border-radius: 0 !important;
    }
  }
}
