<div class="">

  <h5 *ngIf="addMode; else editTitle">Добавьте дело</h5>
  <form [formGroup]="form" class="form d-flex">
    <div class="form-group flex-grow-1">
      <app-deal-input
        inputId="deal"
        inputType="text"
        classString="deal-input__style"
        (keydown.enter)="submit()"
        [formObject]="form.get('content')">
        <ng-template #button>
          <div *ngIf="addMode; else buttonsEdit" class="button-block">
            <app-deal-button
              [disableState]="isLoading || form.invalid"
              classString="btn-primary deal-button__style"
              (clickEvent)="submit()">
              <i class="fa fa-plus"></i>
            </app-deal-button>
          </div>
        </ng-template>
      </app-deal-input>
    </div>
  </form>
</div>

<ng-template #editTitle>
  <h5> Редактирование дела</h5>
</ng-template>

<ng-template #buttonsEdit>
  <app-deal-button
    [disableState]="isLoading || form.invalid"
    classString="btn-primary deal-button__style btn-left"
    (clickEvent)="submit()">
    <i class="fa fa-save"></i>
  </app-deal-button>
  <app-deal-button
    [disableState]="isLoading || form.invalid"
    classString="btn-warning deal-button__style"
    (clickEvent)="clear()">
    <i class="fa fa-close"></i>
  </app-deal-button>
</ng-template>
