$fa-font-path: "../node_modules/font-awesome/fonts";
@import "assets/scss/index.scss";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

html {
  height: calc(100% - #{$header-height});
}
body {
  min-height: 100%;
}
